# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
GoogleService-Info.plist
google-services.json
package-lock.json
Podfile.lock
yarn.lock
.vscode/
.idea/
*.keystore
keystore.properties

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
credentials.json
android/app/release

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
src/data/priority-test.json
src/services/PushNotificationService copy.ts
src/components/BrightcoveVideo copy.tsx
